@font-face {
	font-family: 'DSEG7ClassicRegular';
	src: local('DSEG7ClassicRegular'), url('./DSEG7ClassicRegular.woff') format('woff');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_79190">Text with this font applied</p> */
.fontsforweb_fontid_79190 {
	font-family: 'DSEG7ClassicRegular' !important;
}

/* Font downloaded from FontsForWeb.com */